

pre > code.hljs {
  --padding: 1.25rem;
  position: relative;
  overflow: visible;
  display: block;
  width: 100%;
  padding: 4rem var(--padding) 1rem var(--padding);
  border-radius: var(--border-radius--default);
  background-color: hsl(0, 0%, 15%);
  color: white;
  border: none;
  box-shadow: 0px 5px 10px hsla(0, 0%, 0%, .5);
  font-size: 1.12rem;
  line-height: 1.35rem;
}

pre > code::before {
  position: absolute;
  content: '? unknown';
  padding: 0 var(--padding);
  background-color: hsl(0, 0%, 30%);
  border-radius: var(--border-radius--default) var(--border-radius--default) 0 0;
  width: calc(100% - calc(2 * var(--padding)));
  font-weight: 800;
  letter-spacing: .1rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
}

pre > code.language-plaintext::before,
pre > code.language-text::before,
pre > code.language-txt::before {
  content: '¶ Text';
}

pre > code.language-html::before {
  content: '<> HTML';
  background-color: hsl(12, 73%, 51%);
  color: white;
}
pre > code.language-css::before {
  content: '<> CSS';
  background-color: hsl(228, 73%, 51%);
  color: white;
}
pre > code.language-javascript::before,
pre > code.language-js::before {
  content: '<> JavaScript';
  background-color: hsl(53, 87%, 53%);
  color: black;
}
pre > code.language-typescript::before,
pre > code.language-ts::before {
  content: '<> TypeScript';
  background-color: hsl(211, 61%, 47%);
  color: white;
}
pre > code.language-json::before {
  content: '{ } JSON';
}
pre > code.language-xml:not(.language-html)::before {
  content: '<> XML';
  background-color: hsl(29, 100%, 47%);
  color: white;
}
pre > code.language-markdown::before,
pre > code.language-md::before {
  content: '# Markdown';
  background-color: white;
  color: black;
}
pre > code.language-bash::before {
  content: '>_ Bash';
  background-color: black;
  color: white;
}
pre > code.language-shell::before,
pre > code.language-sh::before {
  content: '>_ Shell';
  background-color: black;
  color: white;
}
pre > code.language-powershell::before,
pre > code.language-ps1::before {
  content: '>_ PowerShell';
  background-color: hsl(215, 98%, 17%);
  color: white;
}
pre > code.language-python::before,
pre > code.language-py::before {
  content: '<> Python';
  background: linear-gradient(160deg, hsl(207, 49%, 40%) 0%, hsl(207, 49%, 40%) 50%, hsl(45, 92%, 60%) 50%, hsl(45, 92%, 60%) 100%);
  color: white;
}
pre > code.language-java::before {
  content: '<> Java';
  background-color: white;
  color: hsl(360, 77%, 53%);
}
pre > code.language-c::before {
  content: '<> C';
  background-color: hsl(209, 100%, 25%);
  color: white;
}
pre > code.language-cpp::before,
pre > code.language-c\+\+::before {
  content: '<> C++';
  background-color: hsl(203, 100%, 38%);
  color: white;
}
pre > code.language-csharp::before,
pre > code.language-cs::before,
pre > code.language-c\#::before {
  content: '<> C#';
  background-color: hsl(294, 44%, 36%);
  color: white;
}
pre > code.language-php::before {
  content: '<> PHP';
  background-color: hsl(236, 26%, 66%);
  color: black;
}
pre > code.language-ruby::before {
  content: '<> Ruby';
  background-color: hsl(7, 99%, 32%);
  color: white;
}
pre > code.language-go::before {
  content: '<> GO';
  background-color: white;
  color: hsl(192, 100%, 41%);
}
pre > code.language-rust::before {
  content: '<> Rust';
  background-color: black;
  color: hsl(26, 98%, 48%);
}
pre > code.language-swift::before {
  content: '<> Swift';
  background: linear-gradient(0deg, hsl(4, 100%, 58%) 0%, hsl(35, 95%, 62%) 100%);
  color: white;
}
pre > code.language-kotlin::before {
  content: '<> Kotlin';
  background: linear-gradient(140deg, hsl(198, 100%, 42%) 0%, hsl(228, 68%, 63%) 50%, hsl(32, 95%, 51%) 50%, hsl(32, 95%, 51%) 70%, hsl(228, 68%, 63%) 70%, hsl(249, 66%, 66%) 100%);
  color: white;
}
pre > code.language-sql::before {
  content: '<> SQL';
  background-color: white;
  color: hsl(24, 75%, 48%);
}
pre > code.language-yaml::before,
pre > code.language-yml::before {
  content: '- YAML';
  background-color: black;
  color: hsl(358, 80%, 44%);
}
pre > code.language-toml::before {
  content: '[ ] TOML';
  background-color: white;
  color: hsl(16, 65%, 36%);
}
pre > code.language-dockerfile::before {
  content: '▣ Dockerfile';
  background-color: white;
  color: hsl(201, 93%, 34%);
}
pre > code.language-graphql::before {
  content: '{ } GraphQL';
  background-color: white;
  color: hsl(320, 72%, 54%);
}