@import url("./codeblocks.css");

@font-face { font-family: "inter-var"; src: url("../assets/fonts/Inter.var.woff2") format("woff2"); }
@font-face { font-family: "inter-var-italic"; src: url("../assets/fonts/Inter-italic.var.woff2") format("woff2"); }

* {
  box-sizing: border-box;
}

:root {
  /* Variables */
  --color--bg-default: hsl(0, 0%, 100%);
  --color--bg-elevated: hsl(0, 0%, 98%);
  --color--fg-default: hsl(0, 0%, 10%);
  --color--fg-secondary: hsl(0, 0%, 30%);
  --color--fg-subtle: hsl(0, 0%, 70%);
  --color--primary: hsl(300, 20%, 35%);
  --color--primary--alpha: hsla(300, 50%, 25%, .2);

  --border-radius--small: .25rem;
  --border-radius--default: 1rem;
  --box-shadow: 0rem .2rem .5rem hsla(0, 0%, 0%, .1);

  --horizontal-padding: if(
    /* PHONE */ media(width < 767px):  1rem;
    /* TABLET */media(width < 1280px): 2rem;
    /* LAPTOP */media(width < 1920px): 20svw;
    /* DESKTOP */ else:                26svw;
  );
  font-family: 'inter-var', sans-serif;
  font-size: 14px;

  --nav-width: 250px;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: .25rem .5rem;
  font-family: 'inter-var', sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  min-width: 100svw; width: 100svw; max-width: 100svw;
  min-height: 100svh; height: 100svh; max-height: 100svh;
  background-color: var(--color--bg-default);
  color: var(--color--fg-default);
}
body.book {
  --color--bg-default: hsl(50, 10%, 95%);
  --color--bg-elevated: hsl(50, 10%, 93%);
  --color--fg-default: hsl(0, 0%, 0%);
  --color--fg-secondary: hsl(0, 0%, 20%);
  --color--fg-subtle: hsl(0, 0%, 70%);
  --color--primary: hsl(0,0%, 50%);
  --color--primary--alpha: hsla(37, 100%, 50%, .2);

  font-family: serif;
  background-color: var(--color--bg-default);
  color: var(--color--fg-default);
  font-size: 16px;
}
body.book h1,
body.book h2 {
  text-decoration: none;
  color: var(--color--fg-default);
}
body.book button {
  font-family: serif;
}

body.dark {
  --color--bg-default: hsl(0, 0%, 10%);
  --color--bg-elevated: hsl(0, 0%, 16%);
  --color--fg-default: hsl(0, 0%, 100%);
  --color--fg-secondary: hsl(0, 0%, 60%);
  --color--fg-subtle: hsl(0, 0%, 40%);
  --color--primary: hsl(300, 20%, 65%);
  --color--primary--alpha: hsla(300, 50%, 65%, .2);

  background-color: var(--color--bg-default);
  color: var(--color--fg-default);
}
body.dark h1,
body.dark h2 {
  /* text-decoration: none; */
}

main {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%; width: 100%; max-width: 100%;
  min-height: 100svh; height: 100svh; max-height: 100svh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  scroll-behavior: smooth;
  /* gap: 1rem; */

  /* &::-webkit-scrollbar {
    display: none;
  } */

  &:focus-visible {
    outline: none;
  }
}

nav {
  position: fixed;
  display: flex;
  background-color: var(--color--bg-default);
  color: var(--color--fg-default);
  border-right: 1px solid var(--color--fg-default);
  width: var(--nav-width);
  height: 100svh;
  padding: 1rem .5rem;
  overflow-x: hidden;
  overflow-y: scroll;

  &.hidden {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    ul {
      padding-inline-start: 1.5rem;
    }
  }

  ul {
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  li::marker {
    content: none;
  }

  a {
    position: relative;
    text-decoration: none;
    padding: .75rem 1rem;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color--fg-default);
    
    &:hover::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--color--fg-default);
      opacity: .15;
    }
  }

  .h1 { font-weight: 800; font-size: 1.25rem; }
  .h2 { font-weight: 700; font-size: 1.15rem; }
  .h3 { font-weight: 600; font-size: 1rem; }
  .h4 { font-weight: 500; font-size: 1rem; }
  .h5 { font-weight: 500; font-size: 1rem; }
  .h6 { font-weight: 500; font-size: 1rem; }

}

.intro-page {
  width: 100%;
  padding: 0 var(--horizontal-padding) 3rem;
}



.drop-zone {
  background-color: var(--color--primary--alpha);
  width: 100%;
  /* max-width: 640px; */
  margin: auto;
  padding: 6rem 5rem;
  border-radius: var(--border-radius--default);
  border: .25rem dashed var(--color--primary);
  text-align: center;
  filter: grayscale(1);
}
.drop-zone.is-dragged-over {
  filter: none;
}
.drop-zone:hidden {
  display: none;
}



.floating-menu {
  --padding: .5rem;
  --button-size: 2.5rem;
  --special-border-radius: calc(var(--border-radius--small) + var(--padding));
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: var(--border-radius--small);
  height: fit-content;
  /* border: 1px solid var(--color--fg-subtle); */
  z-index: 400;
  overflow: visible;
}
.floating-menu.closed {
  height: var(--button-size);
  overflow: hidden;
}
.floating-menu.hidden {
  display: none;
}
.menu-body {
  --padding: 1rem;
  --button-size: 2.5rem;
  display: flex;
  flex-direction: column;

  position: relative;
  padding: var(--padding) 0;
  gap: var(--padding);
  /* border-radius: var(--special-border-radius) var(--special-border-radius) var(--special-border-radius) 0;
  border: 1px solid var(--color--fg-subtle); */
  /* background-color: var(--color--bg-default) */
}
.floating-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem 1rem;
  min-height: var(--button-size); height: var(--button-size); max-height: var(--button-size);

  background-color: var(--color--bg-default);
  color: var(--color--fg-secondary);
  border: 1px solid var(--color--fg-subtle);
  border-radius: var(--border-radius--small);
}
.floating-menu button:hover {
  background-color: var(--color--bg-elevated);
}
.floating-menu button.toggle-floating-menu {
  width: fit-content;
  background-color: var(--color--primary);
  color: var(--color--bg-default);
  border: none;
  box-shadow: var(--box-shadow);
}
.floating-menu button.toggle-floating-menu:hover {
}

.themes-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: var(--padding);
  right: calc(100% + var(--padding));
  gap: var(--padding);
}
.themes-container.closed {
  display: none;
}

.theme-button  {

}



.markdown-body {
  width: 100%;
  padding: 0 var(--horizontal-padding) 3rem;
  margin-left: var(--nav-width);

  a {
    color: var(--color--primary);
    filter: brightness(1.3);
  }

  img {
    width: 100%;
    max-width: 720px;
  }

  p, li {
    line-height: 1.6rem;
  }

  ul, ol {
    margin-block-start: .5rem;
  }

  :is(dir, menu, ol, ul) ul,
  :is(dir, menu, ol, ul) ol {
    margin-block-end: .5rem;
  }

  :is(dir, menu, ol, ul) ul ,
  :is(dir, menu, ol, ul) ol{
    margin-bottom: .5rem;
  }

  ul > li,
  ol > li {
    margin-bottom: .5rem;
  }

  li::marker {
    color: var(--color--primary);
  }
}

.markdown-body.a4-page {
  margin: 0;
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;

  background: white;
  box-sizing: border-box;
}



h1, h2, h3, h4, h5, h6 {
  --font-size: 1rem;
  font-size: var(--font-size);
  margin-top: calc(var(--font-size) / 1.5);
  margin-bottom: calc(var(--font-size) / 2);
  display: block;
  line-height: calc(var(--font-size) * 1.5);
  text-underline-offset: calc(var(--font-size) / 3.5);
  /* letter-spacing: calc(var(--font-size) / 18); */
}

h1 { --font-size: 2.25rem;}
h2 { --font-size: 2rem;}
h3 { --font-size: 1.75rem;}
h4 { --font-size: 1.5rem;}
h5 { --font-size: 1.25rem;}
h6 { --font-size: 1rem;}

/* h1::before, 
h2::before, 
h3::before, 
h4::before, 
h5::before, 
h6::before { 
  content: '';
  display: inline;
  margin-right: calc(var(--font-size) / 2);
  font-size: calc(var(--font-size) / 2);
  color: var(--color--primary);
  width: calc(var(--font-size) / 7);
  min-height: calc(var(--font-size) * 1);
  background-color: var(--color--primary);
  border-radius: 500px;
} */

h1 {
  /* color: var(--color--primary); */
  /* text-decoration: underline;
  text-decoration-color: var(--color--primary);
  text-decoration-thickness: .2rem; */
}
h2 {
  /* text-decoration: underline;
  text-decoration-color: var(--color--primary);
  text-decoration-thickness: .1rem; */
}
h4, h5, h6 {
  color: var(--color--fg-secondary);
}

blockquote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  /* margin-left: 1rem; */
  unicode-bidi: isolate;
  background-color: var(--color--bg-elevated);
  padding: .5rem 1rem 0;
  border-left: .5rem solid var(--color--primary);
  /* border-bottom: .2rem solid var(--color--primary); */
  margin-bottom: 1rem;
  border-radius: var(--border-radius--small);
  box-shadow: var(--box-shadow);
  width: fit-content;
}
blockquote p {
  margin-top: 0;
  margin-bottom: .5rem;
}

table {
  border-collapse: collapse;
}
table thead th {
  border-bottom: 1px solid var(--color--primary);
  padding: .5rem;
  color: var(--color--fg-default);
}
table tbody td {
  padding: .5rem;
}
table tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--color--fg-subtle);
}

kbd {
  background-color: var(--color--bg-elevated);
  border-radius: var(--border-radius--small);
  padding: .15rem .4rem;
  border: .1rem solid var(--color--fg-subtle);
}



/* p {
  max-width: 720px;
} */


code {
  background-color: var(--color--bg-elevated);
  border-radius: var(--border-radius--small);
  padding: .1rem .5rem .1rem .4rem;
  border: .1rem solid var(--color--fg-subtle);
}




